<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="dist/styles.css">
   <title>Quip</title>
</head>
<body>
   <div class="box">
      <h1 id="heading"><%= listTitle %></h1>
   </div>
   
   <div class="box">
      <ul>
         <% allTasks.forEach(function (item){ %>
            <form class="taskForm" action="/delete" method="post">
               <div class="item">
                  <input class="taskCheckbox" type="checkbox" name="finishTask">
                  <input class="hideTask" type="text" name="taskID" value="<%= item._id %>">
                  <input class="hideTask" type="text" name="list" value="<%= listTitle%>">
                  <p name="task"> <%= item.task %> </p>
               </div>
            </form>
         <% }) %>
      </ul>

      <form class="item" action="/" method="post" id="addTaskForm">
         <input type="text" name="newTask" placeholder="New Task" id="" required autocomplete="off">
         <button class="addTask_btn" type="submit" name="list" value="<%= listTitle %>">+</button>
      </form>
   </div>
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <script src="dist/main.js"></script>
</body>
</html>